<App-Action-Bar></App-Action-Bar>

<TabView selectedIndex="0">
    <StackLayout *tabItem="{title: 'Find recipe'}">
        <Recipes-List></Recipes-List>
    </StackLayout>
    <StackLayout *tabItem="{title: 'My recipes'}">
        <StackLayout>
            <Label text="Second Tab" textWrap="true" class="m-15 h2 text-left" color="blue"></Label>
        </StackLayout>
    </StackLayout>
    <StackLayout *tabItem="{title: 'Favourites'}">
        <Recipes-Favourites-List></Recipes-Favourites-List>
    </StackLayout>
</TabView>
