<Button class="fs-20" (tap)="addRecipe()" [text]="'ADD NEW RECIPE'"></Button>
<StackLayout>
    <ng-container *ngIf="recipes && recipes.length > 0; else show;">
        <GridLayout rows="*, auto">
            <ListView [items]="recipes">
                <ng-template let-item="item">
                    <GridLayout columns="80, *" rows="auto" [nsRouterLink]="['/recipes-own', item.id]">
                        <Image col="0" row="0" *ngIf="item.image && item.image != 'https://'" src="{{item.image}}">
                        </Image>
                        <Label col="1" row="0" class="list-label" [textWrap]="true" [text]="item.title"></Label>
                    </GridLayout>
                </ng-template>
            </ListView>
        </GridLayout>
    </ng-container>
    <ng-template #show>
        <GridLayout rows="*, auto">
            <Background-Label [text]="'NO OWN RECIPES'"
                              [icon]="'mdi-local-dining'">
            </Background-Label>
        </GridLayout>
    </ng-template>
</StackLayout>


