<App-Action-Bar></App-Action-Bar>

<ScrollView>
    <FlexboxLayout flexDirection="column" *ngIf="recipe">
        <Image class="m-20" [width]="300" [src]="recipe.image"></Image>
        <Label class="h1 text-center m-l-10 m-r-10" [textWrap]="true" [text]="recipe.title | titlecase"></Label>
        <StackLayout class="m-l-20 m-r-20 m-b-20 m-t-10" height="2" backgroundColor="Black"></StackLayout>
        <Extended-Label [classes]="['c-gold']" [icon]="'mdi-stars'"
                        [text]="'Score: ' + recipe.healthScore">
        </Extended-Label>
        <Extended-Label [icon]="'mdi-local-dining'"
                        [text]="'Servings: ' + recipe.servings">
        </Extended-Label>
        <Extended-Label [icon]="'mdi-alarm'"
                        [text]="'Ready in minutes: ' + recipe.readyInMinutes">
        </Extended-Label>
        <StackLayout class="m-l-20 m-r-20 m-b-20 m-t-20" height="2" backgroundColor="Black"></StackLayout>
        <Extended-Button [icon]="'mdi-description'"
                         [text]="'Summary'" (onTap)="onSummaryTap()">
        </Extended-Button>
        <Extended-Button [icon]="'mdi-assignment'"
                         [text]="'Instructions'" (onTap)="onInstructionsTap()">
        </Extended-Button>
        <Extended-Button [icon]="'mdi-favorite'" [buttonClasses]="['c-red']"
                         [labelClasses]="['c-red']" [text]="'Add to favourites'">
        </Extended-Button>
        <StackLayout class="m-l-20 m-r-20 m-b-20 m-t-20" height="2" backgroundColor="Black"></StackLayout>
    </FlexboxLayout>
</ScrollView>
