<App-Action-Bar></App-Action-Bar>

<ScrollView>
    <FlexboxLayout flexDirection="column" *ngIf="recipe && recipe.analyzedInstructions">
        <Recipe-Instructions-Stepper [step]="actualStepIndex + 1" [steps]="amountOfSteps"
                                     (onNextTap)="nextStep()" (onPreviousTap)="previousStep()">
        </Recipe-Instructions-Stepper>

        <StackLayout class="m-l-20 m-r-20 m-b-20 m-t-20 divider"></StackLayout>
        <Label class="text-center instruction-label m-t-5 m-b-5" [text]="'STEP'"></Label>
        <HtmlView class="text-center m-15 fs-20" [html]="step.step"></HtmlView>

        <StackLayout *ngIf="step.ingredients && step.ingredients.length > 0">
            <StackLayout class="m-l-20 m-r-20 m-b-20 m-t-20 divider"></StackLayout>
            <Label class="text-center instruction-label m-t-5 m-b-15" [text]="'INGREDIENTS'"></Label>
            <GridLayout *ngFor="let ingredient of step.ingredients" columns="*, 250" rows="auto">
                <Label col="0" row="0" [textWrap]="true" class="instruction-item"
                       [text]="ingredient.name | uppercase"></Label>
                <Image col="1" row="0" [width]="150" [src]="apiIngredientsUrl + ingredient.image">
                </Image>
            </GridLayout>
        </StackLayout>

        <StackLayout *ngIf="step.equipment && step.equipment.length > 0">
            <StackLayout class="m-l-20 m-r-20 m-b-20 m-t-20 divider"></StackLayout>
            <Label class="text-center instruction-label m-t-15 m-b-15" [text]="'EQUIPMENT'"></Label>
            <GridLayout *ngFor="let equipment of step.equipment" columns="*, 250" rows="auto">
                <Label col="0" row="0" [textWrap]="true" class="instruction-item"
                       [text]="equipment.name | uppercase"></Label>
                <Image col="1" row="0" [width]="150" [src]="apiEquipmentUrl + equipment.image">
                </Image>
            </GridLayout>
        </StackLayout>

    </FlexboxLayout>
</ScrollView>
